<section class="new-training" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex.xs="width:100%" fxFlex="400px">
        <form (ngSubmit)="onExerciseStart(form)" #form="ngForm">
            <mat-card-title fxLayoutAlign="center">Add a new exercise!</mat-card-title>
            <mat-card-content fxLayoutAlign="center">
                <mat-form-field *ngIf="(exercises$ | async) && !(isLoading$ | async)">
                    <mat-label>Select exercise</mat-label>
                    <mat-select ngModel name="exercise" required>
                        <mat-option
                            *ngFor="let exercise of exercises$ | async"
                            [value]="exercise.id"                
                        >{{exercise.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center" *ngIf="!(isLoading$ | async)">
                <button
                    *ngIf="exercises$ | async"  
                    type="submit" 
                    mat-raised-button 
                    color="primary"
                    [disabled] = "form.invalid"
                >Start exercise</button>

                <button
                *ngIf="!(exercises$ | async)" 
                type="button" 
                mat-button 
                color="primary"
                [disabled]="form.invalid"
                (click)="fetchExercises()"
            >Try Again</button>
            </mat-card-actions>
        </form>
    </mat-card>    
</section>