<div class="BackImage">
    <section class="signup-form">
        <form 
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="13px"
        #signupForm="ngForm"
        (ngSubmit)="onSubmit(signupForm)">
                <mat-form-field appearance="outline" *ngIf="!(isLoading$ | async)">
                <mat-label>Email</mat-label>
                <input  
                    matInput 
                    type FloatLabelType = 'always' 
                    ngModel
                    name="email"
                    email
                    required
                    #emailInput="ngModel"
                >
                <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
                <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="outline" *ngIf="!(isLoading$ | async)">
                    <mat-label>Password</mat-label>
                    <input  
                        matInput 
                        type FloatLabelType = 'always'
                        ngModel
                        name="password"
                        type="password"
                        minlength="8"
                        required
                        #pwInput="ngModel"
                    >
                    <mat-hint>Minimum length 8</mat-hint>
                    <mat-hint align="end">{{ pwInput.value?.length }} /8</mat-hint>
                </mat-form-field>
        
                <mat-form-field appearance="outline" *ngIf="!(isLoading$ | async)">
                    <mat-label>Confirm Password</mat-label>
                    <input  
                        matInput 
                        type FloatLabelType = 'always'
                        ngModel
                        name="confirmPassword"
                        type="password"
                        required
                    >
                </mat-form-field>
        
                <mat-form-field *ngIf="!(isLoading$ | async)">
                    <mat-label>Your Birthday</mat-label>
                    <input 
                        matInput 
                        [matDatepicker]="dp" 
                        [ngModel]="date"
                        name="date"
                        [max]="maxDate"
                        required
                    >
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                    <mat-hint>Set for 18 years old</mat-hint>
                </mat-form-field>

                    <mat-checkbox
                        *ngIf="!(isLoading$ | async)"
                        class="checkbox" 
                        ngModel
                        name="agree"
                        required
                        color="primary"
                    >Agree with terms and conditions.</mat-checkbox>
                        
                <button
                    *ngIf="!(isLoading$ | async)"
                    type="submit" 
                    mat-raised-button color="primary"
                    class="signupBtn"
                    [disabled]="!signupForm.valid"
                >Signup</button>

                <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
        </form> 
    </section>
</div>
