<div 
    class="welcome" 
    fxLayout="row"
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    >
    <header>
      <div class="row">
          <div class="col-twelve">
  
              <h1>FitTrack<span>.</span></h1>
  
              <p class="lead">
                 A fitness app that lets you track your exercise schedule.
              </p>
  
          </div>
      </div>
      <div 
        fxLayout="row"
        fxLayout.lt-md="column" 
        fxLayoutAlign="center center"
        fxLayoutGap="20px">
        <div class="main-icons">
          <mat-icon color="primary">track_changes</mat-icon>
          <h2>Exercise tracking</h2>
          <p>Easy tracking</p>
        </div>
        <div class="main-icons">
          <mat-icon color="primary">stay_primary_portrait</mat-icon>
          <h2>Fully responsive</h2>
          <p>Optimized for smaller screens</p>
        </div> 
        <div class="main-icons">
            <mat-icon color="primary">pie_chart</mat-icon>
            <h2>Summary</h2>
            <p>Charts to view summary</p>
        </div>  	   	  	   	
      </div>
      <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
      class="buttonDiv"
      >
        <button class="button"
        routerLink="/signup"
        mat-raised-button
        color="primary" 
        >Get Started</button>
      </div>
    </header>
</div>
